@charset "utf-8";
/*------------------------------------------------------------
初期設定
------------------------------------------------------------*/
body {
margin: 0 auto;
padding: 0 auto;
font-size: 20px;
font-family:"メイリオ", Meiryo;
}

h1{
margin: 0;
padding: 0;
}

h3{
margin: 0;
padding: 0;
}

ol, ul {
list-style: none;
}

img {
/* display:block; */
border:none;
}

a {
outline: none;
text-decoration: none;
}

a:link {
color: #333;
text-decoration:none;
}
a:visited {
color: #333;
text-decoration:none;
}
a:hover {
color: #FE7A0C;
text-decoration:underline;
}

a:active {
color: #333;
text-decoration:none;
}

.clear {
clear:both;
visibility:hidden;
height:0;
}

/*------------------------------------------------------------
conteinar,wrapper
------------------------------------------------------------*/

#conteinar {
}

#wrapper {
width:1000px;
margin: 0 auto;
}

.re_top {
float:right;
margin:10px 5px 20px 0;
}

.kiyaku {
padding: 10px;
font-size: 60%;
letter-spacing: 0px;
width: 760px;
height: 110px;
overflow: auto;
background-color: #fff;
line-height: 1.64em;
border: 1px solid #008246;
margin-top: 20px;
color: gray;
font-family: Meiryo;
}

/*------------------------------------------------------------
共有ヘッダー
------------------------------------------------------------*/

#header {
margin:5px auto 0;
}

#logo {
float:left;
margin-top:8px;
}
/*#h1 {
font-size:7px;
font-weight:nomal;
float:left;
margin:13px 153px 0 0px;
padding:0;
}*/
#h1 {
font-size:7px;
font-weight:bold;
text-align:center;
margin:0px 0px 0 0px;
padding:0;
}

#header_contact {
width:540px;
float:left;
margin:5px 5px 0px 0px;
}

#mini_home {
font-size:15px;
float:left;
margin:0px 5px 0 260px;
}

#mini_home img{
float:left;
margin:3px 5px 0 0;
vertical-align: middle;
display:inline;
}

#mini_contact {
font-size:15px;
float:left;
margin:0px 5px 0 0;
}

#mini_contact img{
float:left;
margin:3px 5px 0 8px;
vertical-align: middle;
display:inline;
}

#mini_sitemap {
font-size:15px;
float:left;
margin:0px 5px 0 0;
}

#mini_sitemap img{
float:left;
margin:3px 5px 0 8px;
vertical-align: middle;
display:inline;
}

#freedial {
margin:0 5px 0 -5px;
float:left;
}
/*
#newaccount {
float:left;
margin:5px 0 0 0;
}
*/
#newaccount {
float:left;
margin:5px 0 11px 0px;
}

#logininfo{
font-size:70%;
margin-left:2px;
word-wrap: break-word;
}

#logintable{
border:1px red;
}



#login {
float:left;
margin:5px 0 11px 5px;
}

.top_header_title {
    widht:1000px;
    height:100px;
    font-size:30px;
    color: #333;
    text-align:center;
}

.top_header_title_border {
    border-bottom:1px #008246 solid;   
}

.head_title_bgcolor{
    /*width:1000px;*/
    height:40px;
    font-size:24px;
    background-color: #008246;
    color: #fff;
    text-align:left;
    padding-top:8px;
    padding-left:16px;
    /*text-decoration:underline;*/
    /*border-bottom:3px #64c601 dashed;*/
}
.ikkastu_title {
    font-weight:bold;
    font-size:23px;
    text-align:center;
    padding-top:8px;
    text-decoration: none;
}
.ikkastu_title a{
    font-weight:bold;
}
#head-hr {
    color: #008246;
    margin-bottom:20px;
    width:100%;
}



/*------------------------------------------------------------
グローバルナビ G Navi
------------------------------------------------------------*/

#gnavi ul{
width:100%;
margin:0;
padding:0;
}

#gnavi li{
list-style:none;
float:left;
margin:0;
padding:0;
}

/*------------------------------------------------------------
お知らせ news
------------------------------------------------------------*/

.topics_maincont_news {
width:935px;
height:149px;
margin:35px auto;
padding:10px;
overflow:auto;
font-family: "メイリオ", Meiryo;
font-size: 14px;
border:1px solid #ccc;
}

.space_sem{
height:24px;
margin:6px 0 0 0;
}

.news {
width:81px;
background-image: url("../img/ico_news.png");
background-repeat: no-repeat;
float:left;
padding:18px 0 0 4px;
margin-right:5px;
}

.sem {
width:81px;
background-image: url("../img/ico_sem.png");
background-repeat: no-repeat;
float:left;
padding:18px 0 0 4px;
margin-right:5px;
}

.sem_e {
width:81px;
background-image: url("../img/ico_sem_e.png");
background-repeat: no-repeat;
float:left;
padding:18px 0 0 4px;
margin-right:5px;
}

.sem_o {
width:81px;
background-image: url("../img/ico_onsem.png");
background-repeat: no-repeat;
float:left;
padding:18px 0 0 4px;
margin-right:5px;
}

.media {
width:81px;
background-image: url("../img/ico_media.png");
background-repeat: no-repeat;
float:left;
padding:18px 0 0 4px;
margin-right:5px;
}

.text {
line-height:20px;
overflow:visible;
}


/*------------------------------------------------------------
案件検索 search
------------------------------------------------------------*/

.table {
width:935px;
margin:10px auto;
}

.l_Cel {
width:250px;
text-align:center;
vertical-align:middle;
padding:10px 0 10px 50px;
}

.r_Cel {
width:554px;
vertical-align:middle;
padding:10px 0 10px 30px;
}

.s_Cel {
padding: 10px;
font-size: 70%;
color: #333;
width: 150px;
vertical-align: middle;
border: 1px solid #008246;
}

.s_Cel_01 {
padding: 10px;
font-size: 15px;
color: #333;
/* width: 150px; */
vertical-align: middle;
border: 1px solid #008246;
}

.s_Cel_01_g {
padding: 10px;
font-size: 15px;
color: #333;
background-color: #F4F4F4;
/* width: 150px; */
vertical-align: middle;
border: 1px solid #008246;
}

.l_Cel_01 {
padding: 10px;
font-size: 80%;
color: #333;
font-weight: bold;
width: 130px;
height: 40px;
color: #333;
background-color: #E6E6FA;
vertical-align: middle;
border: 1px solid #ccc;
}

.l_Cel_01_01 {
padding: 10px;
font-size: 80%;
font-weight: normal;
width: 180px;
height: 40px;
color: #333;
background-color: #ECFEFF;
vertical-align: middle;
border: 1px solid #008246;
}

.l_Cel_01_02 {
padding: 10px;
font-size: 15px;
color: #333;
font-weight: normal;
width: 80px;
height: 40px;
background-color: #ECFEFF;
vertical-align: middle;
border: 1px solid #008246;
}

.table_com {
width:935px;
margin:10px auto;
}

.l_Cel_com {
padding: 5px;
font-size: 14px;
font-weight: normal;
/*width: 180px;*/
height: 40px;
color: #333;
background-color: #ECFEFF;
vertical-align: middle;
border: 1px solid #01CDC8;
}

.s_Cel_com {
padding: 5px;
font-size: 14px;
color: #666;
/*width: 180px;*/
vertical-align: middle;
border: 1px solid #01CDC8;
}

.v_Cel_com {
padding: 5px;
font-size: 14px;
color: #666;
/*width: 180px;*/
vertical-align: middle;
border: 1px solid #01CDC8;
}



#submit_btn {
text-align:center;
margin:10px 0 0 0;
}


/*------------------------------------------------------------
会社概要 company
------------------------------------------------------------*/

#company {
width:985px;
margin:50px 0 0 10px;
height:360px;
}

#company_left {
width:750px;
float:left;
}

#com_msg {
}

#navit_logo {
float:left;
}

#msg {
padding:10px 15px 0 0;
float:right;
line-height:23px;
font-size:18px;
}

#pre_msg {
}

#pre_photo {
float:left;
}

#pmsg {
padding:10px 10px 0 0;
line-height:27px;
font-size:18px;
float:right;
}

#company_right {
width:220px;
float:right;
padding:10px 0 0 0;
}

/*------------------------------------------------------------
フッター footer
------------------------------------------------------------*/

#footer {
display: table; 
margin: 0 auto; 
}

#footer_border {
background-color:#008246;
color:#fff;
width:100%;
height:150px;
}

#footer_text {
display: table-cell;
}

#footer_text a:link {
color: #fff;
text-decoration:none;
}
#footer_text a:visited {
color: #fff;
text-decoration:none;
}
#footer_text a:hover {
color: #fff;
text-decoration:underline;
}

#footer_text a:active {
color: #fff;
text-decoration:none;
}

#footer_pmark{
display: table-cell;
vertical-align: middle;
}


#footer_text ul{
list-style-type: none; 
display: table; 
margin-left: auto; 
margin-right: auto; 
font-size: 12px;
}

#footer_text li{
display: table-cell; 
padding: 10px 10px 10px 10px;
}

/*------------------------------------------------------------
全選択・解除ボタン
------------------------------------------------------------*/
.AllorClearButton {
    background-color:#0937CD;
    position:relative;
    font-size:12px;
    text-decoration:none !important;
    color:#ffffff !important;
    border-radius: 5px;
}

/*------------------------------------------------------------
select ボックス
------------------------------------------------------------*/
.select_font {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif, verdana;
    font-size:20px !important;
    background-color:#F5F5F5;
    color:#000000 !important;
    border:1px;
    width:240px;
}

.select_font_s {
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif, verdana;
    font-size:16px !important;
    background-color:#F5F5F5;
    color:#000000 !important;
    border:1px;
    width:240px;
}

/*------------------------------------------------------------
errorメッセージ
------------------------------------------------------------*/
span.error{
    text-align:center;
    color:#FFF;
    padding:0px;
    font-size:15px;
    font-weight:bold;
}
span.error_s{
    text-align:center;
    color:#FFF;
    padding:0px;
    font-size:15px;
    font-weight:bold;
}

/*------------------------------------------------------------
ボタン
------------------------------------------------------------*/

.button {
	display: inline-block;
	width: 200px;
	height: 46px;
        font-size:18px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #008246;
        border:2px solid #008246;
	color: #ffffff !important;
	line-height: 44px;
	overflow: hidden;
}
.button:hover {
	color: #fff !important;
        border:3px solid #D9B33F;
}
.button:hover::after {
	top: 0;
	background-color: #D9B33F;
        
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button2 {
	display: inline-block;
	width: 200px;
	height: 46px;
        font-size:18px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #F75600;
        border:2px solid #F75600;
	color: #ffffff !important;
	line-height: 44px;
	overflow: hidden;
}
.button2:hover {
	color: #FFD700 !important;
        border:3px solid #FF0000;
}
.button2:hover::after {
	top: 0;
	background-color: #FF3434;
}
.button2::before,
.button2::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button2,
.button2::before,
.button2::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button3 {
	display: inline-block;
	width: 160px;
	height: 36px;
        font-size:16px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #00008B;
        border:2px solid #00008B;
	color: #ffffff !important;
	line-height: 32px;
	overflow: hidden;
}
.button3:hover {
	color: #FFD700 !important;
        border:3px solid #FF0000;
}
.button3:hover::after {
	top: 0;
	background-color: #0234CD;
        
}
.button3::before,
.button3::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button3,
.button3::before,
.button3::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button4 {
	display: inline-block;
	width: 120px;
	height: 28px;
        font-size:12px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #00008B;
        border:2px solid #00008B;
	color: #ffffff !important;
	line-height: 22px;
	overflow: hidden;
}
.button4:hover {
	color: #FFD700 !important;
        border:3px solid #FF0000;
}
.button4:hover::after {
	top: 0;
	background-color: #0234CD;
        
}
.button4::before,
.button4::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button4,
.button4::before,
.button4::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button5 {
display: inline-block;
width: 450px;
height: 60px;
font-size: 24px;
text-align: center;
text-decoration: none !important;
outline: none;
position: relative;
z-index: 2;
border-radius: 8px;
background-color: #008246;
border: 4px solid #A3FAF5;
color: #fff !important;
line-height: 54px;
overflow: hidden;

}
.button5:hover {
	color: #FFD700 !important;
        border:4px solid #008246;
}
.button5:hover::after {
	top: 0;
	background-color: #A3FAF5;
        
}
.button5::before,
.button5::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button5,
.button5::before,
.button5::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button5_en {
display: inline-block;
width: 100px;
height: 60px;
font-size: 24px;
text-align: center;
text-decoration: none !important;
outline: none;
position: relative;
z-index: 2;
border-radius: 8px;
background-color: #848484;
border: 4px solid #1f1f1f;
color: #FFFFFF !important;
line-height: 54px;
overflow: hidden;

margin-left:10px;

}
.button5_en:hover {
        color: #FFD700 !important;
        border:4px solid #FF0000;
}
.button5_en:hover::after {
        top: 0;
        background-color: #0234CD;

}
.button5_en::before,
.button5_en::after {
        position: absolute;
        z-index: -1;
        display: block;
        content: '';
        top: -100%;
        width: 100%;
        height: 100%;
}
.button5_en,
.button5_en::before,
.button5_en::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all .5s;
        transition: all .5s;
}

.button6 {
display: inline-block;
width: 320px;
height: 60px;
font-size: 18px;
text-align: center;
text-decoration: none !important;
outline: none;
position: relative;
z-index: 2;
border-radius: 8px;
background-color: #96DE4E;
border: 6px solid #63C500;
color: #2D5C01 !important;
line-height: 52px;
overflow: hidden;

}
.button6:hover {
	color: #FF4500 !important;
        border:6px solid #FF7F00;
}
.button6:hover::after {
	top: 0;
	background-color: #FFBB3E;
        
}
.button6::before,
.button6::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button6,
.button6::before,
.button6::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button7 {
	display: inline-block;
	width: 220px;
	height: 30px;
        font-size:16px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #008246;
	color: #fff !important;
        font-weight: bold;
	line-height: 30px;
	overflow: hidden;
        margin-right:20px;
}
.button7:hover {
	color: #fff !important;
}
.button7:hover::after {
	top: 0;
	background-color: #01AEBC;
	color: #fff !important;
}
.button7::before,
.button7::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button7,
.button7::before,
.button7::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.button7 a:link,
.button7 a:visited,
.button7 a:hover,
.button7 a:active
{
color: #333;
text-decoration:none;
}

.button7_1 {
	display: inline-block;
	width: 220px;
	height: 50px;
        font-size:16px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #008246;
	color: #fff !important;
        font-weight: bold;
	line-height: 30px;
	overflow: hidden;
        margin-right:20px;
	padding-top:10px;
}
.button7_1:hover {
	color: #fff !important;
}
.button7_1:hover::after {
	top: 0;
	background-color: #F75600;
	color: #fff !important;
}
.button7_1::before,
.button7_1::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.button7_1,
.button7_1::before,
.button7_1::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
	font-size:20px;
}

.button7_1 a:link,
.button7_1 a:visited,
.button7_1 a:hover,
.button7_1 a:active
{
color: #333;
text-decoration:none;
}



.withdrew_btn {
	display: inline-block;
	width: 100px;
	height: 30px;
        font-size:12px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #ECFEFF;
        border:2px solid #008246;
	color: #666 !important;
	line-height: 30px;
	overflow: hidden;
}
.withdrew_btn:hover {
	color: #FFD700 !important;
        border:2px solid #008246;
}
.withdrew_btn:hover::after {
	top: 0;
	background-color: #FFF4F4;
        
}
.withdrew_btn::before,
.withdrew_btn::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.withdrew_btn,
.withdrew_btn::before,
.withdrew_btn::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.change_btn {
	display: inline-block;
	width: 100px;
	height: 30px;
        font-size:16px;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #008246;
        border:2px solid #008246;
	color: #fff !important;
	line-height: 30px;
	overflow: hidden;
}
.change_btn:hover {
	color: #FFD700 !important;
        border:2px solid #008246;
}
.change_btn:hover::after {
	top: 0;
	background-color: #ECFEFF;
        
}
.change_btn::before,
.change_btn::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
        top: -100%;
	width: 100%;
	height: 100%;
}
.change_btn,
.change_btn::before,
.change_btn::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .5s;
	transition: all .5s;
}

#logout_btn{
background-color: #0937CD;
position: relative;
font-size: 12px;
text-decoration: none !important;
color: #ffffff !important;
border-radius: 5px;
padding: 3px 143px 0px;
border: 2px solid #0937CD;
}
#logout_btn:hover {
color: #FFD700 !important;
border:2px solid #FF0000;
}

#user_contents_btn{
background-color: #008246;
position: relative;
font-size: 12px;
text-decoration: none !important;
color: #ffffff !important;
border-radius: 5px;
padding: 3px 15px 0px;
border: 2px solid #008246;
}
#user_contents_btn:hover {
color: #FFD700 !important;
border:2px solid #FF0000;
}
/*------------------------------------------------------------
テキストボックス
------------------------------------------------------------*/
input[type=text]{
    font-family:"メイリオ", Meiryo;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   -ms-border-radius: 5px;
   border:#a9a9a9 1px solid;
   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   width:250px;
   height:30px;
   padding:0 3px;
   font-size:20px;
}

input[type=text]:focus {
   border:solid 1px #32CD32;
}

input[type=text], select { 
   outline: none;
}

input[type=password]{
    font-family:"メイリオ", Meiryo;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;
   -ms-border-radius: 5px;
   border:#a9a9a9 1px solid;
   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   width:500px;
   height:30px;
   padding:0 3px;
}

input[type=password]:focus {
   border:solid 1px #32CD32;
}

input[type=password], select { 
   outline: none;
}

#filter{
position:fixed;
width:100%;
height:100%;
left:0;
top:0;
background:#C2D6CD;
filter:alpha(opacity=80);
-moz-opacity:0.80;
opacity:0.80;
z-index:100;
}

* html #filter { /* ie?p */
position: absolute;
height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}


/*
#center_box{
    z-index:110;
    position:relative;
    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-100px;
}
*/

.logininfo {
	display: inline-block;
	width: 160px;
	height: 36px;
        font-size:60% !important;
	text-align: center;
	text-decoration:none !important;
	outline: none;
        position: relative;
	z-index: 2;
        border-radius: 5px;
	background-color: #00008B;
        border:2px solid #00008B;
	color: #ffffff !important;
	line-height: 32px;
	overflow: hidden;
}
/*
#logininfo{
	font-size:60%;
}
#logout_btn{
display: inline-block;
width: 99%;
height: 20px;
font-size: 60% !important;
text-align: center;
text-decoration: none !important;
outline: none;
position: relative;
z-index: 2;
border-radius: 5px;
background-color: #00008B;
border: 2px solid #00008B;
color: #ffffff !important;
line-height: 22px;
overflow: hidden;
}
#logout_btn:hover {
	color: #FFD700 !important;
        border:2px solid #FF0000;
}
*/


.checkbox_img{
    width:20px;
    height:17px;
    display:inline;
    margin-right:5px;
}
#fixedbox{
z-index:110;
background-color: #F6FFF6;

filter:alpha(opacity=70);
-moz-opacity: 0.7;
opacity: 0.7;

position: absolute;
top: 250px;
right: -208px;
width: 680px;
height: 430px;
padding: 20px 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
box-shadow: 8px 8px 3px rgba(0,0,0,0.4);

}


.middle_midashi{
     color: #fff;
     padding: 10px 10px;
     background: #008246;
     border: 2px dotted #ffffff;
     box-shadow:0px 0px 1px 3px #008246;
     margin: 10px 5px;
     width: 200px;
     height:30px;
}

.file {
font-size: 14pt;
padding: 10px 10px;
/*margin: 0 10px 0px 0;*/
}

.note {
    font-size: 12pt;
    color: #333;
    line-height: 1.5;
}

input[type=checkbox] {
    height:20px;
    width:20px;
}

#detail table{
margin:10px;
border:2px solid #DDD;
border-collapse:collapse;
}

#detail th{
font-size:16px;
padding:5px;
}

#detail th.bbs{
border-bottom:1px solid #DDD;
}

#detail td{
font-size:16px;
padding:5px 10px;
}

.info_square{
    color:#008246;
    font-size:16px;
    margin-left: 10px;
}

/*------------------------------------------------------------
参照ボタン
------------------------------------------------------------*/

.fileUploder{
    position:relative;
    /*↓幅はデザイン依存。場合によっては、指定しなくていい*/
    width:315px;
    /*↓高さ指定しないとIE7で領域がひろがる…？*/
    height:31px;
    /*↓はみ出した分隠す。IE対策*/
    overflow:hidden;
}
.fileUploder .uploader{
    position:absolute;
    top:0;
    /*↓leftからrightに。ボタンが右にあるので、rightにしないとだめ。IE対策。*/
    right:0;
    /*↓念のため*/
    z-index:99;
    width:100%;
    height:100%;
    /*↓ここでフォームアイテムの大きさを調整。IE対策*/
    font-size:315px;
    opacity:0;
    /*↓IE6,7対策*/
    filter:alpha(opacity=0);
    /*↓IE8対策*/
    -ms-filter:"alpha(opacity=0)";
}

/*------------------------------------------------------------
企業検索デモ
------------------------------------------------------------*/

.input_demo{
	margin: 0 50px 0 50px;
}

.input_table{
	width:900px; text-align:left; margin:20px auto; border-collapse:collapse;
}

.input_td{
	padding:5px; font-size:24px; font-weight:bold; color:#F55700;
}

.search_btn{
	text-align:center;margin:20px auto;
}

.search_result{
	margin:-10px auto;
}

.search_result2{
	text-align:center; margin:20px auto; font-size:22px;
}

.result_table{
	width:700px; text-align:left; margin:20px auto; font-size:18px;
}

.result_table_th{
	background-color:#F5F5F5; padding:5px;
}

.result_table_td{
	padding:5px;
}

/* 企業検索デモ 結果表示ページ*/

.result_table2{
	width:900px; text-align:left; margin:50px auto; font-size:18px;
}

.result_table3{

}

.result_table_th2{
	background-color:#F5F5F5; padding:5px;
}

.result_table_td2{
	padding:5px; text-align:center;
}

/* 企業検索デモ 結果表示ページ*/

.result_conf{
	width:700px;margin-left:auto;margin-right:auto;
}

.sub_head{
	font-size:20px; background-color:#F5F5F5; padding:10px;
}

.r_Cel{
	font-size:20px; padding:10px;
}

/* 企業検索デモ 購入済ページ*/

.result_table3{
	width:700px; text-align:left; margin:20px auto; font-size:18px;
}

.result_table_th3{
	background-color:#F5F5F5; padding:10px;
}

.result_table_td3{
	padding:10px;
}


