@charset "utf-8";
/*------------------------------------------------------------
	検索結果一覧
------------------------------------------------------------*/

#proposal_ditail {
    /*
width:933px;
height:1019px;
background-image: url("../img/ditail_back.png");
background-repeat: no-repeat;
margin:30px 0 0 35px;
    */
    
border: #ff8635 solid 10px;
border-image: url("../img/border_img_orange.png") 24 24 round;
background-color: #FDF5E6;
width: 933px;
/*height: 1019px;*/
padding: 4px;
margin-left: 18px;
float: left;

-moz-box-shadow: 5px 5px 20px #8f6d49;
-webkit-box-shadow: 5px 5px 20px #8f6d49;
box-shadow: 5px 5px 20px #8f6d49;
    
}

.ditail_box {
font-size: 16px;
width:933px;
margin:30px 0 0 15px;
}

.ditail_title_head_text {
width:850px;
font-size: 12px;
font-family:"メイリオ", Meiryo;
padding:20px 0 0 30px;
margin-bottom:-18px;
margin-top:-40px;
}

.ditail_title_text {
width:850px;
font-size: 25px;
font-family:"メイリオ", Meiryo;
font-weight:bold;
padding:20px 0 0 30px;
margin-top: -20px;
}

.ditail_title_subtext {
width:850px;
font-size: 16px;
font-family:"メイリオ", Meiryo;
padding:0px 0 0 0px;
margin-top:4px;
}

.ditail_midashitext {
font-size: 23px;
font-family:"メイリオ", Meiryo;
font-weight:bold;
margin:0 0 10px 35px;
}

.ditail_midashiback {
margin:30px 0 0 30px;
background-image: url("../img/point_line.png");
background-repeat: no-repeat;
}

.ditail_text {
font-size: 15px;
font-family:"メイリオ", Meiryo;
margin:10px 0 0 30px;
}

.ditail_midashiback_left {
width:400px;
margin:30px 0 0 30px;
background-image: url("../img/point_line_small.png");
background-repeat: no-repeat;
float:left;
}

.ditail_text_left {
font-size: 15px;
font-family:"メイリオ", Meiryo;
margin:10px 0 0 0;
}

.ditail_midashiback_right {
width:400px;
margin:30px 67px 0 30px;
background-image: url("../img/point_line_small.png");
background-repeat: no-repeat;
float:right;
}

.ditail_text_right {
font-size: 15px;
font-family:"メイリオ", Meiryo;
margin:10px 0 0 0;
}

.link_text_box{
    text-align:right;
    margin-right:76px
}

.link_text {
        text-align: center;
        width:130px;
	font-size:12px;
	font-family:"メイリオ", Meiryo;
	font-weight:normal;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:3px solid #ffb08c;
	padding:2px 76px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #fff6e8 5%, #fff2d1 100% );
	background:-ms-linear-gradient( top, #fff6e8 5%, #fff2d1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6e8', endColorstr='#fff2d1');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fff6e8), color-stop(100%, #fff2d1) );
	background-color:#fff6e8;
	color:#ff0000;
	display:inline-block;
 	-webkit-box-shadow: 0px 0px 0px -50px #ff0000;
 	-moz-box-shadow: 0px 0px 0px -50px #ff0000;
 	box-shadow: 0px 0px 0px -50px #ff0000;
}.link_text:hover {
	background:-moz-linear-gradient( center top, #fff2d1 5%, #fff6e8 100% );
	background:-ms-linear-gradient( top, #fff2d1 5%, #fff6e8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2d1', endColorstr='#fff6e8');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fff2d1), color-stop(100%, #fff6e8) );
	background-color:#fff2d1;
}.link_text:active {
	position:relative;
	top:1px;
}

#back_result1{
    margin-left:20px;
    
    margin-bottom: 10px;
}

#back_result2{
    margin-left:20px;
    position: relative;
    height:40px;
    top: 10px;
}

#interest_offer{
margin: 0px 0px 16px 580px;
font-size: 16px;
width: 320px;
}

#send_interest_confirm{
z-index:110;
background-color: #FFFFFF;

filter:alpha(opacity=90);
-moz-opacity: 0.9;
opacity: 0.9;

position: absolute;
top: 250px;
right: -208px;
width: 800px;
height: 440px;
padding: 20px 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
box-shadow: 8px 8px 3px rgba(0,0,0,0.4);

}

#error_dialog{
z-index:110;
background-color: #FFFFFF;

filter:alpha(opacity=90);
-moz-opacity: 0.9;
opacity: 0.9;

position: absolute;
top: 250px;
right: -208px;
width: 800px;
height: 240px;
padding: 20px 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
box-shadow: 8px 8px 3px rgba(0,0,0,0.4);

}

#get_list_confirm{
z-index:110;
background-color: #FFFFFF;

filter:alpha(opacity=90);
-moz-opacity: 0.9;
opacity: 0.9;

position: absolute;
top: 250px;
right: -208px;
width: 600px;
height: 320px;
padding: 20px 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
box-shadow: 8px 8px 3px rgba(0,0,0,0.4);

}

#drew_dialog{
z-index:110;
background-color: #FFFFFF;

filter:alpha(opacity=90);
-moz-opacity: 0.9;
opacity: 0.9;

position: absolute;
top: 250px;
right: -208px;
width: 750px;
height: 420px;
padding: 20px 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
box-shadow: 8px 8px 3px rgba(0,0,0,0.4);

}

#cancel_dialog{
z-index:110;
background-color: #FFFFFF;

filter:alpha(opacity=90);
-moz-opacity: 0.9;
opacity: 0.9;

position: absolute;
top: 250px;
right: -208px;
width: 750px;
height: 420px;
padding: 20px 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
box-shadow: 8px 8px 3px rgba(0,0,0,0.4);

}

#forced_login_dialog{
z-index:110;
background-color: #FFFFFF;

filter:alpha(opacity=90);
-moz-opacity: 0.9;
opacity: 0.9;

position: absolute;
top: 250px;
right: -208px;
width: 550px;
height: 300px;
padding: 20px 20px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
box-shadow: 8px 8px 3px rgba(0,0,0,0.4);

}
