@charset "Shift_JIS";

/*CSS3 footer アニメーション */

/*画面左広告*/
#jq-fixbanner{
	background-color:#fff;
	position:absolute;
	top:250px;
	right:-200px;
	width:150px;
	height:300px;
	padding:20px 20px;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius: 5px;
	
	box-shadow:3px 3px 3px rgba(0,0,0,0.4);
}

#jq-fixbanner p{
	padding:30px 0 0 0;
	font-size:16px;
}

/*画面右側表示*/
#jq-fixbanner{

background-color: #F6FFF6;
position: absolute;
top: 250px;
right: -270px;
width: 800px;
height: 400px;
padding: 20px 20px;
-moz-border-radius: 40px;
-webkit-border-radius: 40px;
-o-border-radius: 40px;
border-radius: 40px;
box-shadow: 3px 3px 3px rgba(0,0,0,0.4);

}

/*間隔*/
#jq-fixbanner p{
padding:30px 0 0 0;
font-size:16px;
}