/*!
 * jQuery Loading Library v1.0.0
 */
 #load-wrapper {
	/* 表示位置 */
	position:fixed;
	top:0;
	left:0;

	/* サイズ */
	width:100%;
	height:100%;

	/* 表示内容 */
	text-align:center;
	font-size:14px;
	background-color:black;
	filter:alpha(opacity=60);
	-moz-opacity:0.60;
	opacity:0.6;
	z-index:100;
	
	/* デフォルトで非表示 */
	display:none;
}

#load-img {
	/* 表示位置 */
	position: absolute;
	margin: -50px 53px 0 -120px;
	top: 50%;
	left: 50%;

	/* サイズ */
	width: 200px;
	height: 100px;

	/* 表示内容 */
	background-color: #000;
	color: #fff;
	text-align:center;
}

