<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={$client_enc}">
    </head>
    <body>
        <h1>Subsidy</h1>
    </body>
</html>
