<div class="head_title_bgcolor" style="text-align:left;">FAXの送信完了</div>
<br />
送信完了しました。
<div class="table">
    <table border="0" cellpadding="5" cellspacing="1">
        <tr>
            <td class="l_Cel">
                <div class="middle_midashi">送信結果</div>
            </td>
            <td colspan="2" class="r_Cel">

            </td>
       </tr>
        <tr>
            <td colspan="3">
                <hr />
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div id="submit_btn">
                    <a class="button" href="/" id="back_button">ホームに戻る</a>     
                </div>
            </td>
        </tr>
    </table>
</div>