<table class="result_table3">
{foreach from=$app.grant_item item=v}
	<tr>
		<th class="result_table_th3" width="40%">
			{$v.ttl}
		</th>
		<td class="result_table_td3" width="70%">
			{$v.name}
		</td>
{/foreach}
</table>
<div class="search_btn">
	<a class="button" href="index.php" id="back_button">TOPページヘ戻る</a>
</div>