<link rel="stylesheet" href="css/ditail.css" type="text/css">
<div id="send_interest_confirm" style="display: none;">
    <div style="width:100%;background-color: #ffffff;">
        <img src="img/logo.jpg" alt="法人電話帳なう" style="width:178px;height:48px;"  />
        <div style="width:24px;">
            <a href="javascript:void(0);" style="position:relative; top:-60px; left:789px;"><img id="send_confirm_close" src="img/close_round.png" width="20px" height="20px" alt="閉じる" /></a>
        </div>
    </div>
    <hr />
    <div id="submit_btn">
        <span style="font-size:20px;color:#3A2409;">『Faxなう』のご利用には会員登録が必要となります。<br />
        会員登録はこちらからどうぞ。</span><br />
        <a class="button5" href="./index.php?action_secure_registration=true"  id="registration" style="width:500px;">今すぐ無料会員登録！</a>
    </div>
    <div id="submit_btn">
        <a class="button5" href="index.php" onclick="" id="login_btn" style="width:500px;"><img src='img/wakaba_mark.png' width="17px" height="25px" style="display:inline; margin-bottom:15px;"/> Faxなうについて詳しくはこちら</a>
    </div>
</div>

{literal}
 <script type="text/javascript">
     function displaySendForm(){
         $("#send_interest_confirm").lightbox_me({centered: true,closeSelector:'#send_confirm_close',overlaySpeed:100,overlayCSS:{background:'#D3C9BA',opacity: .8}});
     }
 </script>
 {/literal}